.sign-up-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: linear-gradient(to bottom, #00FFA1, #00FFD4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.sign-up-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-family: Iosevka Charon, monospace;
    font-size: 32px;
}

.sign-up-box input {
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #546D5E;
    border-radius: 5px;
    font-size: 16px;
    font-family: Iosevka Charon, monospace;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

.sign-up-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #546D5E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: Istok Web, sans-serif;
}

body {
    background: url(Background_signup.png) no-repeat center center fixed;
    background-size: cover;
}
