{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'stylecourses.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'dashboard' %}"><button class="back-button">Back</button></a>
    </header>
    <div class="dashboard-wrapper">
        <h1 class="section-title">Choose Your Desired Course</h1>

        <form method="GET" action="{% url 'search' %}" class="search-form-container">
            <div class="search-input-wrapper">
                <input type="text" name="q" placeholder="Search for Courses" required>
                <button type="submit" class="search-submit-button">Search</button>
            </div>
        </form>

        <div class="course-grid">
            {% for pathway in pathways %}
            <a href="{% url 'pathway_detail' pathway.id %}" class="course-card">
                
                <div class="card-banner">
                    <img src="{% static 'images/Book.png' %}" alt="Course thumbnail">
                </div>
                
                <div class="card-body">
                    <div class="provider-info">
                        <span class="course-genre">{{ pathway.subject.title }}</span>
                    </div>
                    <h3 class="course-name">{{ pathway.title }}</h3>
                </div>
            </a>
            
            {% empty %}
                <p style="grid-column: 1 / -1; text-align: center; color: gray;">
                    No courses available right now. Tell the admin to add some!
                </p>
            {% endfor %}
            
        </div>
    </div>
</body>
</html>