.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-family: Istok Web, sans-serif;
}

.dashboard-hrefs {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 550px;
}

.dashboard-hrefs a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.dashboard-hrefs a:hover {
    background-color: #c4c4c4;
    padding: 20px 0px;
}

.profile {
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.dashboard-container {
    text-align: center;
    margin-top: 100px;
    font-family: Istok Web, sans-serif;
}

.dashboard-container h1 {
    font-size: 48px;
    margin: 70px;
}

.dashboard-container h2 {
    color: rgb(116, 18, 209);
    margin: 8px;
    font-size: 26px;
}

.dashboard-container h4 {
    font-weight: lighter;
    margin: auto;
}

.book {
    width: 200px;
    height: auto;
    mix-blend-mode: multiply;
}

.dashboard-opinions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 700px;
    margin: 0 auto;
    font-family: Istok Web, sans-serif;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 170px;
}

body {
    background-color: #faf7f2;
}

.profile-header {
    background: #ddd;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.back {
    background: #ddd;
    width: 100px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.profile-top img {
    width: 80px;
    border-radius: 50%;
}